.intro {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 350px;
    width: 100%;
    background-color: #f3f7fa;
    padding: 50px;
}


.intro-image {
    height: 100%;
    padding-right: 50px;
}

.intro-title {
    font-size: 1.5rem;
}

.intro-paragraph > * {
    color: #8d919c;
}

.intro-quote, .intro-conclusion {
    font-style: italic;
    font-weight: bold;
}